@use 'components' as c;

body {
	font-family: arial, sans-serif;
}

.header {
	@include c.text-element(20px, #d93025);
    margin: 25px 0 22px 45px;
    cursor: default;
}

.separator {
	border-bottom: 1px solid #ebebeb;
}

.fields {
	display: table;
	margin: 35px 10px 22px 45px;
	width: 100%;

	.row {
		display: table-row;

		.cell {
			display: table-cell;
			vertical-align: middle;
    		padding: 7px 0;
		}

		.first-header {
			@include c.text-element(16px, #333);
			width: 182px;
		}

		.last-header {
			@include c.text-element($c: #777);
			font-weight: 700;
			width: 555px;
			padding-left: 3px;
		}

		.first-col {
			@include c.text-element;
		}

		.last-col {
			@include c.text-element(11px, #555);
			padding-left: 15px;
			line-height: 12px;

			span {
				font-family: monospace;
				@include c.text-element(inherit, #666);
			}
		}

		.field-col {
			@include c.text-element;
		}

		.text-field {
			width: 100%;
			height: 29px;
			font-size: 13px;
			padding: 0 8px;
		    border-radius: 1px;
		    border: 1px solid #d9d9d9;
		    border-top: 1px solid #c0c0c0;
		}

		.text-field:focus, .text-field:active {
		    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
		    border: 1px solid #4d90fe;
		    outline: none;
		}
	}
}
