@use 'variables'as v;

.nav {
    height: v.$nav-height;
    min-width: v.$page-width;

    .nav-links {
        width: fit-content;
        margin-left: auto;
        padding-right: 8px;

        a {
            color: rgba(0, 0, 0, 0.87);
            font: 13px Arial, sans-serif;
            line-height: v.$nav-height;
            text-decoration: none;
            margin-right: 10px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}