@use 'components' as c;

.nav {
    height: c.$nav-height;
    min-width: c.$page-width;

    .nav-links {
        width: fit-content;
        margin-left: auto;
        padding-right: 8px;

        a {
            @include c.text-element($c: rgba(0, 0, 0, 0.87));
            font-family: arial, sans-serif;
            line-height: c.$nav-height;
            text-decoration: none;
            margin-right: 10px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}